.VPHome {
  // 定义遮罩样式
  background: radial-gradient(ellipse,
      rgba(var(--bg-gradient-home), 1) 0%,
      rgba(var(--bg-gradient-home), 0) 150%);

  // 自定义首页背景图
  &::before {
    background-image: url(./assets/back.png);
    background-size: cover;
    
  }
}

body {
  font-family: "LXGW WenKai Screen";
  font-weight: normal;
  font-size: 17px;
}

@font-face {
  font-family: 'PingFang SC';
  src: url('./assets/font/MapleMono-SemiBold.ttf') format('truetype'); /* 提供多种格式以兼容不同浏览器 */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'PingFang SC', sans-serif;
}




strong {
  text-shadow: 0.8px 0;
}

.vp-doc blockquote {
  border: 2px dotted #b9a7a7;
  padding: 15px;
  border-radius: 5px;
  transition: border-color .5s;
  color: var(--vp-c-text-2);
}


